@font-face {
    font-family: Old London;
    src: url("old\ london\ alternate.ttf");
}

html::before {
    content:'';
 background:rgba(0,0,0,0.45);
 width:100%;
 height:100%;
 position:absolute;
 left:0px;
 top:0px;
}

body {
    /* Background image credit to Phil Strahl(https://www.flickr.com/photos/strahl/3845583592) */
    background-image: url("../images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: auto; */
    overflow: hidden;
}

#title {
    font-family: Old London;
    font-size: 6em;
    text-align: center;
    color: #9b0f32;
    font-style: oblique;
    text-shadow: -3px 2px #010101;    
}

.row {
    float: left;
    margin-left: 5vw;
    margin-top: 1vw;
}
.guess {
    font-family: Old London;
    color: #c51f48;
    font-weight: 50;
    font-size: 3em;
    text-shadow: -3px 2px #010101;  
    text-align: center;  
    line-height: 1em;
}

#name {
    font-family: Old London;
    color: #c51f48;
    font-weight: 50;
    font-size: 2em;
    text-shadow: -3px 2px #010101;  
    text-align: center;
    position: absolute;
    height: auto;
    width: auto;
}